.delete {
	display: block;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	border-radius: 5px;
	opacity: .7;
	padding: .5rem;
	cursor: pointer;

    :hover {
        opacity: 1;
    }
}

.checkbox {
	position: relative;
	display: inline-block;
	border: solid 1px #CCC;
	width: 20px;
	height: 20px;
	background: #EEE;
	border-radius: 5px;
	cursor: pointer;

    :checked {
        background-color: #FE4880;
        ::after {
            content: "";
            position: absolute;
            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }
}

.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;

    .todo-content {
        display: flex;
        .content {
            margin: 0 0 0 1rem;
            user-select: none;
            color: #4a4a4a;
        }
    
        &.visible{
            padding: 10px 15px;
        }
    }
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-content .content:hover {
	cursor: pointer;
}