.nav-daycoval {
    background-color: #001c55;
    width: 100%;
    padding: 1rem 0 1rem 2rem;

    .nav-logo {
        cursor: pointer;
        text-decoration: none;
    }

    .img-logo-daycoval {
        width: 200px;
    }
}