.todo-input {
	margin: 0 1rem -1.25em 0;
	width: 100%;
	font-size: 1em;
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 100px;
	padding: 10px 15px;	

    &:disabled {
        cursor: not-allowed;
		pointer-events: unset;
    }
}