.todo-input {
    margin-right: 1rem;
	width: 100%;
	font-size: 1em;
    margin-bottom: -1.25em;
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	border-radius: 5px;

	background-color: #FE4880;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 1.2em;
	font-weight: 600;

    &.disabled {
        background-color: #7c7c7c;
        cursor: not-allowed;
    }
}