@use '@angular/material' as mat;

@include mat.core();

@import '@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: Jost
);

@include angular-material-typography($custom-typography);

$today-app-primary: mat-palette($mat-indigo, 800);
$today-app-accent: mat-palette($mat-pink, 500, 900, A100);
$today-app-warn: mat-palette($mat-deep-orange);

$today-app-theme: mat.define-light-theme((
  color: (
    primary: $today-app-primary,
    accent: $today-app-accent,
    warn: $today-app-warn,
  )
));

@include mat.all-component-themes($today-app-theme);

@import 'bootstrap/scss/bootstrap';


html, body { height: 100%; }
body { margin: 0; font-family: Jost, sans-serif; }
h1, h2, h3, h4, h5, h6, span, p, li, a, a::placeholder, label, button {font-family: Jost, sans-serif;}